html, body {
    height: 100%;
    background-color: cyan;
}

.loadGif    {
    position: absolute;
}

.special {
    font-weight: bold !important;
    color: #373740 !important;
    background: #c7e9ff !important;

}
